<%- include('includes/head.ejs') %>

<form action="/add-user" method="POST">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter username" required>
    </div>
    <button type="submit">Add User</button>
</form>

<%- include('includes/end.ejs') %>